* {
  margin: 0;
  padding: 0;
  background-color: rgb(62, 60, 60);
}

.app {
  background-color: rgb(62, 60, 60);
  width: 300px;
  margin: 10em;
  padding: 10px;
  border: 1px solid white;
}

.input-holder {

  /* background-color: aqua; */

}

#input-field {
  width: 290px;
  margin: 0;
  padding-left: 10px;
  border: 0;
  height: 40px;
  background-color: rgb(241, 246, 241);
}

.item {
  width: 290px;
  padding-left: 10px;
  height: 30px;
  background-color: rgb(208, 242, 208);
  margin-top: 5px;
  padding-top: 5px;
}