* {
  margin: 0;
  padding: 0;
  background-color: #35374B;
  --item-bg-color: #78A083;
  --input-bg-color:rgb(241, 246, 241);
  --app-bg-color:rgba(62, 60, 60, 0);
}


.app {
  background-color: var(--app-bg-color);
  width: 300px;
  margin: 10em;
  padding: 10px;
  border: 1px solid white;
}



#input-field {
  width: 290px;
  margin: 0;
  padding-left: 10px;
  border: 0;
  height: 40px;
  background-color: var(--input-bg-color);
}

.item {
  width: 290px;
  padding-left: 10px;
  height: 30px;
  background-color: var(--item-bg-color);
  margin-top: 5px;
  padding-top: 5px;
}